<!doctype html>

<html lang="{{ request.locale.iso_code }}" dir="{% render 'direction' %}">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover, height=device-height, minimum-scale=1.0, maximum-scale=1.0"
    >
    <meta nam="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link
      rel="apple-touch-icon"
      href="https://cdn.shopify.com/s/files/1/0626/9065/files/AMM-A-icon.png?v=1740137806&width=192"
    >
    <meta name="apple-mobile-web-app-title" content="A MA MANIÉRE">
    <link rel="manifest" href="{{ 'manifest.json' | asset_url }}">
    <title>
      {% if page_title == blank -%}
        {{- shop.name -}}
      {%- else -%}
        {{- page_title -}}
        {%- if current_page != 1 %} &ndash; {{ 'general.page' | t: page: current_page }}{% endif -%}
      {%- endif %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">
    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}

    {%- comment -%}Few prefetch to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
    <link rel="preconnect" href="https://unpkg.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {%- unless settings.heading_font.system? -%}
      <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.text_font.system? -%}
      <link rel="preload" href="{{ settings.text_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.secondary_font.system? -%}
      <link rel="preload" href="{{ settings.secondary_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- render 'social-meta-tags' -%}
    {%- render 'microdata-schema' -%}
    {%- render 'css-variables' -%}
    {%- render 'js-variables' -%}
    {% render 'splash-screens' %}

    {%- if request.page_type == 'gift_card' -%}
      <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script>
      if (!(HTMLScriptElement.supports && HTMLScriptElement.supports('importmap'))) {
        const importMapPolyfill = document.createElement('script');
        importMapPolyfill.async = true;
        importMapPolyfill.src = "{{ 'es-module-shims.min.js' | asset_url }}";

        document.head.appendChild(importMapPolyfill);
      }
    </script>

    <script type="importmap">
      {%- comment -%}On Safari 16.3 and lower, a polyfill is used to load importmap{%- endcomment -%}
      {
        "imports": {
          "vendor": "{{ 'vendor.min.js' | asset_url }}",
          "theme": "{{ 'theme.js' | asset_url }}",
          "photoswipe": "{{ 'photoswipe.min.js' | asset_url }}"
        }
      }
    </script>

    <script type="module" src="{{ 'vendor.min.js' | asset_url }}"></script>
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>
    <script src="{{ 'jquery.min.js'  | asset_url }}" defer></script>
    <script src="{{ 'angle.js' | asset_url }}" defer></script>
    <script src="{{ '360-knob.js' | asset_url }}" defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ content_for_header }}

    {{- 'theme.css' | asset_url | stylesheet_tag: preload: true -}}
    {{- 'custom.css' | asset_url | stylesheet_tag: preload: true -}}
    <script>
      navigator.platform &&
        /iPad|iPhone|iPod/.test(navigator.platform) &&
        (document.head.querySelector('meta[name="viewport"]').content =
          'width=device-width, initial-scale=1.0, viewport-fit=cover, height=device-height, minimum-scale=1.0, maximum-scale=1.0');
    </script>
  </head>

  {% liquid
    assign features_class = ''

    if settings.show_button_transition
      assign features_class = features_class | append: 'features--button-transition '
    endif

    if settings.show_image_zoom_on_hover
      assign features_class = features_class | append: 'features--zoom-image '
    endif
  %}

  <body class="{{ features_class }} color-scheme color-scheme--{{ settings.default_color_scheme.id }}">
    {%- render 'shadow-dom-templates' -%}
    <loading-bar class="loading-bar" aria-hidden="true"></loading-bar>
    <a href="#main" allow-hash-change class="skip-to-content sr-only">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    <span
      id="header-scroll-tracker"
      style="position: absolute; width: 1px; height: 1px; top: var(--header-scroll-tracker-offset, 10px); left: 0;"
    >
      {%- comment -%}
        This allows our theme to track when the user has scrolled a given amount of pixels, without relying on a global scroll listener. This helps
        to improve performance and reduce reflows.
      {%- endcomment -%}
    </span>

    {%- if request.page_type != 'password' -%}
      {%- sections 'header-group' -%}
      {%- sections 'overlay-group' -%}
    {%- endif -%}

    <main id="main" class="anchor">
      {{ content_for_layout }}

      {%- comment -%}
        IMPLEMENTATION NOTE: For best semantics, having the footer group outside the main would be slightly better, but
          moving it inside the main allows to have all the sections (including sections inside the footer group) to be
          consecutive, and hence having a cleaner margin collapsing management.
      {%- endcomment -%}
      {%- if request.page_type != 'password' -%}
        {%- sections 'footer-group' -%}
      {%- endif -%}
    </main>
  </body>
  <script>
    // Open (or create) an IndexedDB database
    const dbRequest = indexedDB.open('amm-pwa-db', 1);

    dbRequest.onupgradeneeded = (event) => {
      const db = event.target.result;

      // Create an object store if it doesn't exist
      if (!db.objectStoreNames.contains('assets')) {
        db.createObjectStore('assets', { keyPath: 'id' });
      }
    };

    dbRequest.onsuccess = (event) => {
      const db = event.target.result;

      // Add the array to the IndexedDB
      const transaction = db.transaction('assets', 'readwrite');
      const store = transaction.objectStore('assets');

      // Store the array with a unique ID
      store.put({
        id: 'assetList', // Use a fixed ID for easy retrieval
        urls: [
          '/',
          "{{ 'theme.css' | asset_url }}",
          "{{ 'custom.css' | asset_url }}",
          "{{ 'jquery.min.js' | asset_url }}",
          "{{ 'angle.js' | asset_url }}",
          "{{ 'theme.js' | asset_url }}",
          "{{ 'image-board-animation.aio.min.js' | asset_url }}",
          "{{ 'DINPro-Bold.woff' | asset_url }}",
          "{{ 'DINPro.eot' | asset_url }}",
          "{{ 'DINPro.woff' | asset_url }}",
          "{{ 'vendor.min.js' | asset_url }}",
          "{{ 'photoswipe.min.js' | asset_url }}",
          'https://cdn.shopify.com/s/files/1/0626/9065/files/amm-logo-hd.png?v=1733391764',
          'https://cdn.shopify.com/s/files/1/0626/9065/files/AM10_Logo_GRAY_700_px_height_1_f4605202-b17f-4c65-b30d-7557d9e710f7.svg?v=1722106783',
        ],
      });

      transaction.oncomplete = () => {
        console.log('Array stored successfully in IndexedDB.');
      };

      transaction.onerror = (error) => {
        console.error('Error storing the array in IndexedDB:', error);
      };
    };

    dbRequest.onerror = (error) => {
      console.error('Error opening IndexedDB:', error);
    };
  </script>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker
        .register('{{ 'service-worker.js' | asset_url }}')
        .then((registration) => {
          console.log('Service Worker registered with', registration);
        })
        .catch((error) => {
          console.error('Service Worker registration failed:', error);
        });
    }
  </script>
</html>
