<script src="{{ 'angle.js' | asset_url }}" async></script>
{% assign start_index = section.settings.start_index %}
{% assign end_index = section.settings.end_index %}
{%- assign link_handle = section.settings.dynamic_link_handle -%}
<div class="three-d-gallery-simple-container container container--lg">
  <h2 class="h1 text-center">{{ section.settings.title }}</h2>
  <div class="gallery-content-container">
    <div class="three-d-gallery-simple">
      <div class="angle-view-simple" id="angle-view-simple-{{ section.id }}">
        <ul>
          {% for i in (start_index..end_index) %}
            <li>
              <img src="{{ link_handle }}{{ i }}.png" alt="DSC04{{ i }}" height="650" width="600">
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="gallery-controls-simple">
        <img
          src="https://cdn.shopify.com/s/files/1/0626/9065/files/360arrow.png?v=1735330447"
          alt="gallery control"
          srcset=""
        >
      </div>
      {% if section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="button">{{ section.settings.button_label }}</a>
      {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    let loadInterval = setInterval(() => {
      if (window.$) {
        clearInterval(loadInterval);
        console.log('loaded');
        $('#angle-view-simple-{{ section.id }}').angle({
          speed: 2,
          previous: '.prev-image',
          next: '.next-image',
          drag: true,
          current: 1,
        }).addClass('ready');
      }
    }, 500);
  });
</script>
<style>
  .three-d-gallery-simple-container {
    margin: 40px 0;
    padding: 40px 0;
  }
  .angle-view-simple {
    overflow: hidden;
    width: 65vw;
    margin: 10px auto;
    border: 5px solid #cecece;
  }
  .angle-view-simple ul {
    margin: 0;
    padding: 0;
  }
  .angle-view-simple li {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .angle-view-simple img {
    width: 90%;
    display: block;
    margin: 18px auto;
  }
  div#angle-view-simple-{{ section.id }} {
    border: none;
    background: #fff;
    position: relative;
    z-index: 1;
    transform: translateX(200%);
    transition: all 0.5s ease-in-out;
  }
  .angle-view-simple.ready{
    transform: translateX(0) !important; 
  }
  #angle-view-simple1 img {
    object-fit: contain;
    margin: 0 auto;
  }
  .gallery-controls-simple {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 0;
  }
  .gallery-controls-simple img {
    max-width: 700px;
    width: 100%;
  }
  .three-d-gallery-simple-container {
    margin: 0 auto;
  }
  .three-d-gallery-simple-container .title {
    color: #fff;
    font-family: Saol Display, sans-serif;
  }
  .three-d-gallery-simple {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
  }
  @media and (max-width: 768px) {
    .angle-view-simple {
      max-width: 90dvw;
      margin: 20px auto;
      max-height: 500px;
    }
  }
</style>
{% schema %}
{
  "name": "3D Gallery Simple",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "3D Gallery"
    },
    {
      "type": "text",
      "id": "start_index",
      "label": "Image start Index"
    },
    {
      "type": "text",
      "id": "end_index",
      "label": "Image end Index"
    },
    {
      "type": "text",
      "id": "dynamic_link_handle",
      "label": "Link Handle"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "3D Gallery",
      "settings": {
        "title": "3D Gallery"
      }
    }
  ]
}
{% endschema %}
