{{ 'section-3d-gallery.css' | asset_url | stylesheet_tag }}
<script src="{{ 'angle.js' | asset_url }}" async></script>

{% assign start_index = section.settings.start_index %}
{% assign end_index = section.settings.end_index %}
{%- assign link_handle = section.settings.dynamic_link_handle -%}
<div class="three-d-gallery-container container container--lg">
  <h2 class="h1 text-center">{{ section.settings.title | default: '3D Gallery' }}</h2>
  <div class="gallery-content-container">
    <div class="three-d-gallery">
      {% if section.settings.show_section_texts %}
        <div class="top-text">{{ section.settings.top_text }}</div>
      {% endif %}
      <div class="angle-view" id="angle-view-{{ section.id }}">
        <ul>
          {% for i in (start_index..end_index) %}
            <li>
              <img src="{{ link_handle }}{{ i }}.png" alt="DSC04{{ i }}" height="650" width="600" class="angle-image">
            </li>
          {% endfor %}
        </ul>
      </div>
      {% if section.settings.show_section_texts %}
        <div class="bottom-text">{{ section.settings.bottom_text }}</div>
      {% endif %}
      <div class="gallery-controls" style="bottom: {{ section.settings.knob_position }}px;">
        {% render '360-knob', section: section %}
      </div>
      {% if section.settings.button_label != blank and section.settings.show_button %}
        <a href="{{ section.settings.button_link }}" class="button">{{ section.settings.button_label }}</a>
      {% endif %}
    </div>
  </div>
</div>
{% style %}
    div#angle-view-{{ section.id }} {
    border: none;
    background: #fff;
    position: relative;
    z-index: 1;
    transform: translateX(200%);
    transition: all 0.5s ease-in-out;
    width: {{ section.settings.gallery_width }}dvw;
  }
{% endstyle %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    const angleViewer = new AngleViewer('{{ section.id }}');
  });
</script>
{% schema %}
{
  "name": "3D Gallery Simple",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "3D Gallery"
    },
    {
      "type": "text",
      "id": "start_index",
      "label": "Image start Index"
    },
    {
      "type": "text",
      "id": "end_index",
      "label": "Image end Index"
    },
    {
      "type": "text",
      "id": "dynamic_link_handle",
      "label": "Link Handle"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "range",
      "id": "knob_position",
      "label": "Knob Position",
      "default": 10,
      "min": 0,
      "max": 200,
      "unit": "px",
      "step": 2
    },
    {
      "type": "range",
      "id": "gallery_width",
      "label": "Gallery Width",
      "default": 60,
      "min": 0,
      "max": 100,
      "unit": "dvw",
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_section_texts",
      "label": "Show Section Texts",
      "default": true
    },
    {
      "type": "text",
      "id": "top_text",
      "label": "Top Text",
      "default": "Try"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Text",
      "default": "Now"
    }
  ],
  "presets": [
    {
      "name": "3D Gallery Simple",
      "settings": {
        "title": "3D Gallery"
      }
    }
  ]
}
{% endschema %}
