<div class="content-page-section-container container w-full">
  <div class="v-stack gap-7 content-page-section">
    <div class="content-page-section__header">
      <div class="h-stack">
        <div class="v-stack">
          <h1 class="h1 content-page-section__title">{{ section.settings.title }}</h1>
          <p class="content-page-section__description text-subdued">{{ section.settings.description }}</p>
        </div>
        <picture>
          <source srcset="{{ section.settings.header_logo.url }}" media="(min-width: 1024px)">
          <img
            src="{{ section.settings.header_logo.url }}"
            alt="{{ section.settings.title }}"
            height="{{ section.settings.header_logo.height }}"
            width="{{ section.settings.header_logo.width }}"
          >
        </picture>
      </div>
    </div>

    {% if section.settings.section_banner_desktop != blank %}
      <div class="content-page-section__banner">
        <picture>
          <source srcset="{{ section.settings.section_banner_desktop.url }}" media="(min-width: 1024px)">
          <img
            src="{{ section.settings.section_banner_mobile.url }}"
            alt="{{ section.settings.title }}"
            height="{{ section.settings.section_banner_mobile.height }}"
            width="{{ section.settings.section_banner_mobile.width }}"
          >
        </picture>
      </div>
    {% endif %}
    <div class="content-page-section__blocks-container">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            <h2 class="h2">{{ block.settings.heading }}</h2>
          {% when 'paragraph' %}
            <div class="prose text-subdued">
              {{ block.settings.paragraph }}
            </div>
          {% else %}

        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Content page section",
  "class": "shopify-section--content-page-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "About Us"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Description About the page"
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Section Header Image"
    },
    {
      "type": "image_picker",
      "id": "section_background_image",
      "label": "Section Background Image"
    },
    {
      "type": "image_picker",
      "id": "section_banner_desktop",
      "label": "Section Banner Image Desktop"
    },
    {
      "type": "image_picker",
      "id": "section_banner_mobile",
      "label": "Section Banner Image Mobile"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Default Heading"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "<p>Default Paragraph</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content page section"
    }
  ]
}
{% endschema %}
