{%- assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient
  | default: section.settings.color_scheme.settings.background
  | md5
-%}
{% assign hideHeader = section.settings.hide_header %}
{% assign hidePageContent = section.settings.hide_page_content %}
<div class="default-page-container-{{ section.id }} section-spacing section-spacing--tight color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }}">
  <div class="container container--{{ section.settings.page_width }}">
    <div class="section-stack">
      {%- if section.settings.show_title -%}
        <div class="section-header justify-self-center text-center">
          <h1 class="h2">{{ page.title }}</h1>
        </div>
      {%- endif -%}

      {%- if page.content != empty %}
        <div class="prose">
          {{- page.content -}}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% if hideHeader %}
  <style>
    header.shopify-section.shopify-section-group-header-group.shopify-section--header {
      display: none;
    }
  </style>
{% endif %}
{% if hidePageContent %}
  <style>
    .default-page-container-{{ section.id }}  {
      display: none;
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "t:sections.main_page.name",
  "class": "shopify-section--main-page",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "t:sections.main_page.show_title",
      "default": true
    },
    {
      "type": "select",
      "id": "page_width",
      "label": "t:sections.main_page.page_width",
      "options": [
        {
          "value": "xs",
          "label": "t:global.sizes.x_small"
        },
        {
          "value": "sm",
          "label": "t:global.sizes.small"
        },
        {
          "value": "md",
          "label": "t:global.sizes.medium"
        },
        {
          "value": "lg",
          "label": "t:global.sizes.large"
        },
        {
          "value": "full",
          "label": "t:global.sizes.full_width"
        }
      ],
      "default": "xs"
    },
    {
      "type": "checkbox",
      "id": "hide_header",
      "label": "Hide Header",
      "default": false,
      "info": "Checking this box will hide the header navigation for this page template. It will reflex only to the pages assigned to this template."
    },
    {
      "type": "checkbox",
      "id": "hide_page_content",
      "label": "HIde Page Content",
      "default": false,
      "info": "Checking this box will hide the page content for this page template. It will reflex only to the pages assigned to this template."
    },
  ]
}
{% endschema %}
