{%- comment -%}
  ----------------------------------------------------------------------------------------------------------------------
  SPLIT MEDIA HERO SECTION
  ----------------------------------------------------------------------------------------------------------------------

  This section displays a split media hero with images or videos side by side and overlay content.
  Aligned with AMM theme standards.
{%- endcomment -%}

{% liquid
  assign media_count = 0
  if section.settings.image_1 != blank and section.settings.image_2 != blank
    assign media_width_desktop = 100 | divided_by: 2 | append: 'vw'
  else
    assign media_width_desktop = '100vw'
  endif
  assign media_width_mobile = '100vw'
  assign sizes = '(min-width: 750px) ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
  assign widths = '832, 1200, 1600, 1920, 2560, 3840'

  assign has_image_1 = false
  assign has_image_2 = false
  assign has_video_1 = false
  assign has_video_2 = false
  assign has_image = false
  assign has_video = false
  assign has_video_multiple = false
  assign has_media = false
  assign media_type_1 = section.settings.media_type_1
  assign media_type_2 = section.settings.media_type_2

  if section.settings.image_1 != blank and media_type_1 == 'image'
    assign has_image_1 = true
  endif
  if section.settings.image_2 != blank and media_type_2 == 'image'
    assign has_image_2 = true
  endif
  if section.settings.video_1 != blank and media_type_1 == 'video'
    assign has_video_1 = true
  endif
  if section.settings.video_2 != blank and media_type_2 == 'video'
    assign has_video_2 = true
  endif

  if has_image_1 or has_image_2
    assign has_image = true
  endif
  if has_video_1 or has_video_2
    assign has_video = true
  endif
  if has_video_1 and has_video_2
    assign has_video_multiple = true
  endif
  if has_image or has_video
    assign has_media = true
  endif

  assign alpha = section.settings.overlay_color.alpha
  assign is_transparent = true
  if alpha == 1 and section.settings.toggle_overlay
    assign is_transparent = false
  endif

  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif

  assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient | default: section.settings.color_scheme.settings.background | md5
%}

{% capture media %}
  {%- if has_image_1 -%}
    {% assign media_count = media_count | plus: 1 %}
    {{
      section.settings.image_1
      | image_url: width: 3840
      | image_tag:
        width: section.settings.image_1.width,
        widths: widths,
        height: section.settings.image_1.height,
        alt: section.settings.image_1.alt,
        class: 'split-hero__image',
        sizes: sizes,
        fetchpriority: fetch_priority
    }}
  {%- endif -%}

  {%- if has_video_1 -%}
    {% assign media_count = media_count | plus: 1 %}
    {{
      section.settings.video_1
      | video_tag:
        poster: nil,
        autoplay: true,
        loop: true,
        controls: false,
        muted: true,
        class: 'split-hero__video'
    }}
  {%- endif -%}

  {%- if has_image_2 -%}
    {% assign media_count = media_count | plus: 1 %}
    {{
      section.settings.image_2
      | image_url: width: 3840
      | image_tag:
        width: section.settings.image_2.width,
        widths: widths,
        height: section.settings.image_2.height,
        alt: section.settings.image_2.alt,
        class: 'split-hero__image',
        sizes: sizes,
        fetchpriority: fetch_priority
    }}
  {%- endif -%}

  {%- if has_video_2 -%}
    {% assign media_count = media_count | plus: 1 %}
    {{
      section.settings.video_2
      | video_tag:
        poster: nil,
        autoplay: true,
        loop: true,
        controls: false,
        muted: true,
        class: 'split-hero__video'
    }}
  {%- endif -%}

  {% if has_media == false and is_transparent %}
    <placeholder-image
      class="split-hero__image"
      data-block-id="{{ section.id }}"
      data-type="general"
    ></placeholder-image>
  {%- endif -%}
{% endcapture %}

{% capture media_blurred %}
  {% if has_image_1 %}
    {{
      section.settings.image_1
      | image_url: width: 3840
      | image_tag:
        width: section.settings.image_1.width,
        widths: widths,
        height: section.settings.image_1.height,
        alt: '',
        class: 'split-hero__image',
        sizes: sizes
    }}
  {% endif %}
  {% if has_image_2 %}
    {{
      section.settings.image_2
      | image_url: width: 3840
      | image_tag:
        width: section.settings.image_2.width,
        widths: widths,
        height: section.settings.image_2.height,
        alt: '',
        class: 'split-hero__image',
        sizes: sizes
    }}
  {% endif %}
  {% if has_media == false and is_transparent %}
    <placeholder-image
      class="split-hero__image"
      data-block-id="{{ section.id }}"
      data-type="general"
    ></placeholder-image>
  {% endif %}
{% endcapture %}

{%- comment -%}Section spacing and styling{%- endcomment -%}
<style>
  #shopify-section-{{ section.id }} {
    --split-hero-border-style: {{ section.settings.border }};
    --split-hero-border-width: {{ section.settings.border_width }}px;
    --split-hero-border-opacity: {{ section.settings.border_opacity }}%;
    --blur-opacity: {{ section.settings.reflection_opacity | divided_by: 100.0 }};
    {% if section.settings.section_height == 'custom' %}
      --split-hero-min-height: {{ section.settings.section_height_custom }}svh;
      {% elsif section.settings.section_height == "small" %}
        --split-hero-min-height: clamp(20rem, 85vw, 32rem);
      {% elsif section.settings.section_height == "medium" %}
        --split-hero-min-height: clamp(25rem, 100vw, 36rem);
      {% elsif section.settings.section_height == "large" %}
        --split-hero-min-height: clamp(30rem, 125vw, 42rem);
      {% elsif section.settings.section_height == "full-screen" %}
        --split-hero-min-height: calc(100vh - var(--sticky-area-height));
      {% else %}
        --split-hero-min-height: {{ section.settings.section_height_custom }}svh;
    {% else %}
      --split-hero-min-height: var(--section-height-{{ section.settings.section_height }});
    {% endif %}
    {% unless section.settings.remove_vertical_spacing %}padding: 0;{% endunless %}
  }
</style>

<div class="{% unless section.settings.remove_vertical_spacing %}section-spacing{% endunless %} color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }}{% if section.settings.separate_section_with_border %} bordered-section{% endif %}"{% if section.settings.allow_transparent_header %} allow-transparent-header{% endif %}>
  <div
    id="SplitHero-{{ section.id }}"
    class="split-hero{% if section.blocks.size == 0 and section.settings.section_height == 'auto' %} split-hero--no-blocks-auto-height{% endif %}"
    {% if request.visual_preview_mode %}
      data-shopify-visual-preview
    {% endif %}
    {% if section.settings.blurred_reflection and has_video_multiple == false %}
      data-blur-shadow="true"
    {% endif %}
  >
    {%- comment -%}Blurred reflection{%- endcomment -%}
    {% if section.settings.blurred_reflection %}
      {% unless has_video_multiple or is_transparent == false %}
        <div class="split-hero__blurred-image">
          {{ media_blurred }}
        </div>
      {% endunless %}
    {% endif %}

    {%- comment -%}Main container - media is full width, content follows section width{%- endcomment -%}
    <div class="split-hero__container {% if section.settings.section_width == 'full-width' %}container-full {% else %} container{% endif %}">
      {%- if section.settings.link != blank -%}
        <a
          href="{{ section.settings.link }}"
          class="split-hero__link"
          {% if section.settings.open_in_new_tab %}
            target="_blank" rel="noopener"
          {% endif %}
        ></a>
      {%- endif -%}

      <div
        class="split-hero__media-wrapper"
        {%- if section.settings.image_1 != blank -%}
          style="--split-hero-media-aspect-ratio: {{ section.settings.image_1.aspect_ratio }}; --split-hero-media-count: {{ media_count }};"
        {%- endif -%}
      >
        {%- if section.settings.toggle_overlay -%}
          <div
            class="split-hero__overlay"
            style="
              background-color: {{ section.settings.overlay_color }};
              {%- if section.settings.overlay_style == 'gradient' -%}
                background: linear-gradient({{ section.settings.gradient_direction }}, {{ section.settings.overlay_color }}, transparent);
              {%- endif -%}
              position: absolute; inset: 0; z-index: 1;
            "
          ></div>
        {%- endif -%}
        {{ media }}
      </div>

      <div class="split-hero__content-wrapper{% if section.settings.section_width == 'full-width' %} container{% endif %}">
        {%- if section.blocks.size > 0 -%}
          <div class="split-hero__content prose">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'subheading' -%}
                  {%- if block.settings.text != blank -%}
                    <p class="h6" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
                  {%- endif -%}

                {%- when 'heading' -%}
                  {%- if block.settings.text != blank -%}
                    <h1 class="{{ block.settings.heading_tag | default: 'h1' }}" {{ block.shopify_attributes }}>
                      {{ block.settings.text }}
                    </h1>
                  {%- endif -%}

                {%- when 'richtext' -%}
                  {%- if block.settings.content != blank -%}
                    <div {{ block.shopify_attributes }}>
                      {{- block.settings.content -}}
                    </div>
                  {%- endif -%}

                {%- when 'button' -%}
                  {%- if block.settings.label != blank -%}
                    {%- render 'button',
                      content: block.settings.label,
                      href: block.settings.url,
                      style: block.settings.button_style,
                      background: block.settings.button_background,
                      text_color: block.settings.button_text_color,
                      block: block
                    -%}
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
  .split-hero {
    position: relative;
    min-height: var(--split-hero-min-height, 500px);
    overflow: hidden;
  }

  .split-hero[data-shopify-visual-preview] {
    --split-hero-min-height: 600px;
    min-height: 600px;
  }

  .split-hero__container {
    position: relative;
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .split-hero__media-wrapper {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(var(--split-hero-media-count, 1), 1fr);
    z-index: 1;
  }

  .split-hero__content-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
    padding: var(--section-vertical-spacing);
  }

  .split-hero__content {
    text-align: center;
    max-width: 600px;
  }

  .split-hero--no-blocks-auto-height .split-hero__image,
  .split-hero--no-blocks-auto-height .split-hero__video {
    width: 100%;
    aspect-ratio: auto;
  }

  .split-hero--no-blocks-auto-height .split-hero__media-wrapper {
    position: relative;
  }

  .split-hero__image,
  .split-hero__video,
  .split-hero__video-poster {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    position: relative;
  }

  .split-hero__video-poster {
    position: absolute;
  }

  .split-hero__link {
    position: absolute;
    inset: 0;
    z-index: 3;
  }

  .split-hero__media-wrapper,
  .split-hero__content-wrapper {
    pointer-events: none;
  }

  .split-hero__media-wrapper :is(a, button, input, textarea, select),
  .split-hero__content-wrapper :is(a, button, input, textarea, select) {
    pointer-events: auto;
  }

  /* Blurred reflection styles */
  .split-hero[data-blur-shadow='true'] {
    --blurred-reflection-filter-saturate: saturate(1.5);
    --blurred-reflection-mask-image: linear-gradient(to bottom, black 0%, black 60%, transparent 100%);
    --blurred-reflection-box-shadow: rgb(0 0 0 / 5%) 0 0 1rem;
    --blurred-reflection-filter-blur: blur(20px);
    --blurred-reflection-scale: scale(2, 1.25);
    --blurred-reflection-padding-block-end: 60px;
  }

  .split-hero[data-blur-shadow='true'] .split-hero__container {
    overflow: visible;
  }

  .split-hero[data-blur-shadow='true'] .split-hero__container::before {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: var(--blurred-reflection-box-shadow);
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: -1;
  }

  .split-hero__blurred-image {
    position: absolute;
    inset: 0;
    z-index: -1;
    mask-image: var(--blurred-reflection-mask-image);
    filter: var(--blurred-reflection-filter-saturate);
    pointer-events: none;
    transform: translateY(50%);
    overflow: hidden;
  }

  .split-hero__blurred-image img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    filter: var(--blurred-reflection-filter-blur);
    opacity: var(--blur-opacity);
    transform: var(--blurred-reflection-scale);
    padding-block-end: var(--blurred-reflection-padding-block-end);
  }

  .split-hero__blurred-image img:not(:only-child) {
    width: 50%;
  }

  .split-hero__blurred-image img:last-child {
    right: 0;
    left: auto;
  }

  /* Responsive adjustments */
  @media screen and (max-width: 768px) {
    .split-hero__content {
      padding: 2rem 1rem;
    }
    .split-hero__media-wrapper{
      grid-template-columns: 1fr;
      grid-template-rows:  50% 50%;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Split Hero",
  "tag": "section",
  "class": "section-wrapper",
  "blocks": [
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Subheading"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Heading text",
          "default": "Split Hero"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            }
          ],
          "default": "h1"
        }
      ]
    },
    {
      "type": "richtext",
      "name": "Rich Text",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Button label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:global.text.style",
          "options": [
            {
              "value": "outline",
              "label": "t:global.text.link_style_options.outline"
            },
            {
              "value": "solid",
              "label": "t:global.text.link_style_options.solid"
            },
            {
              "value": "link",
              "label": "t:global.text.link_style_options.link"
            }
          ],
          "default": "solid"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "t:global.colors.background",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "t:global.colors.text",
          "default": "#000000"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "allow_transparent_header",
      "label": "t:global.section.allow_transparent_header",
      "info": "t:global.section.allow_transparent_header_info",
      "default": true
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "select",
      "id": "media_type_1",
      "label": "Media type 1",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1",
      "info": "Image 1"
    },
    {
      "type": "video",
      "id": "video_1",
      "label": "Video 1",
      "info": "Video 1"
    },
    {
      "type": "header",
      "content": "Media 2"
    },
    {
      "type": "select",
      "id": "media_type_2",
      "label": "Media type 2",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2",
      "info": "Image 2"
    },
    {
      "type": "video",
      "id": "video_2",
      "label": "Video 2",
      "info": "Video 2"
    },
    {
      "type": "header",
      "content": "Section link"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link",
      "info": "Link"
    },
    {
      "type": "checkbox",
      "id": "open_in_new_tab",
      "label": "Open in new tab",
      "default": false
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "content_direction",
      "label": "direction",
      "options": [
        {
          "value": "column",
          "label": "vertical"
        },
        {
          "value": "row",
          "label": "horizontal"
        }
      ],
      "default": "column"
    },
    {
      "type": "checkbox",
      "id": "vertical_on_mobile",
      "label": "vertical_on_mobile",
      "default": true,
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "flex-end",
          "label": "right"
        },
        {
          "value": "space-between",
          "label": "space_between"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "position",
      "options": [
        {
          "value": "flex-start",
          "label": "top"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "flex-end",
          "label": "bottom"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.content_direction == 'row' }}"
    },
    {
      "type": "checkbox",
      "id": "align_baseline",
      "label": "align_baseline",
      "default": false,
      "visible_if": "{{ section.settings.vertical_alignment == 'flex-end' }}"
    },
    {
      "type": "select",
      "id": "horizontal_alignment_flex_direction_column",
      "label": "alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "flex-end",
          "label": "right"
        }
      ],
      "default": "flex-start",
      "visible_if": "{{ section.settings.content_direction != 'row' }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment_flex_direction_column",
      "label": "position",
      "options": [
        {
          "value": "flex-start",
          "label": "top"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "flex-end",
          "label": "bottom"
        },
        {
          "value": "space-between",
          "label": "space_between"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.content_direction == 'column' }}"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "width",
      "options": [
        {
          "value": "page-width",
          "label": "page"
        },
        {
          "value": "full-width",
          "label": "full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "height",
      "options": [
        {
          "value": "auto",
          "label": "auto"
        },
        {
          "value": "small",
          "label": "small"
        },
        {
          "value": "medium",
          "label": "medium"
        },
        {
          "value": "large",
          "label": "large"
        },
        {
          "value": "full-screen",
          "label": "full_screen"
        },
        {
          "value": "custom",
          "label": "custom"
        }
      ],
      "default": "medium"
    },
    {
      "type": "range",
      "id": "section_height_custom",
      "label": "custom_height",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "%",
      "visible_if": "{{ section.settings.section_height == 'custom' }}"
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "remove_vertical_spacing",
      "label": "Remove vertical spacing",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "Separate section with border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "toggle_overlay",
      "label": "Media overlay"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "alpha": true,
      "default": "#00000026",
      "visible_if": "{{ section.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "overlay_style",
      "label": "overlay style",
      "options": [
        {
          "value": "solid",
          "label": "solid"
        },
        {
          "value": "gradient",
          "label": "gradient"
        }
      ],
      "default": "solid",
      "visible_if": "{{ section.settings.toggle_overlay }}"
    },
    {
      "type": "select",
      "id": "gradient_direction",
      "label": "gradient_direction",
      "options": [
        {
          "value": "to top",
          "label": "up"
        },
        {
          "value": "to bottom",
          "label": "down"
        }
      ],
      "default": "to top",
      "visible_if": "{{ section.settings.toggle_overlay and section.settings.overlay_style == 'gradient' }}"
    },
    {
      "type": "checkbox",
      "id": "blurred_reflection",
      "label": "blurred_reflection",
      "default": false,
      "info": "Applies on image only"
    },
    {
      "type": "range",
      "id": "reflection_opacity",
      "label": "reflection_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 75,
      "visible_if": "{{ section.settings.blurred_reflection }}"
    },
    {
      "type": "header",
      "content": "padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Split Hero",
      "blocks": [
        {
          "type": "subheading",
          "settings": {
            "text": "Introducing"
          }
        },
        {
          "type": "heading",
          "settings": {
            "text": "Split Media Hero",
            "heading_tag": "h1"
          }
        },
        {
          "type": "richtext",
          "settings": {
            "content": "<p>Create stunning split media sections with side-by-side images or videos and overlay content.</p>"
          }
        },
        {
          "type": "button",
          "settings": {
            "label": "Shop Now"
          }
        }
      ]
    }
  ]
}
{% endschema %}
